[user]
	name = Carlo Delle Donne
	email = carlo.delle.donne@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
[merge]
	tool = vimdiff3
[mergetool "vimdiff3"]
	path = nvim
