[user]
	name = Carlo Delle Donne
	email = carlo.delle.donne@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[pull]
	ff = only
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
[merge]
	tool = vimdiff3
[mergetool "vimdiff3"]
	path = nvim
